    <footer class="page-footer grey darken-3">
 <!--      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Plucking Classical Guitar</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
            </ul>
          </div>
        </div>
      </div> -->
      <div class="footer-copyright">
        <div class="container">
        © 2018 Plucking Classical Guitar
        <%= link_to 'About', pages_about_path, :class => "white-text right" %>
        <%= link_to 'About', pages_about_path, :class => "white-text right" %>
        </div>
      </div>
    </footer>
