<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">My Profile</a></li>
  <li><a href="#!">My Courses</a></li>
  <li class="divider"></li>
  <li><a href="#!">Log out</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">My Profile</a></li>
  <li><a href="#!">My Courses</a></li>
  <li class="divider"></li>
  <li><a href="#!">Log out</a></li>
</ul>
<header>
  <nav class="white">
    <div class="nav-wrapper">
      <div class="container">
      <a href="#!" class="brand-logo grey-text text-darken-3">PCG</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse grey-text text-darken-3"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" class="grey-text text-darken-3">Courses</a></li>
        <li><a href="#" class="grey-text text-darken-3">Sign Up</a></li>
        <li><a href="#" class="grey-text text-darken-3">Log In</a></li>

      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button grey-text text-darken-3" href="#!" data-activates="dropdown1">Mark Kaylor<i class="material-icons right">arrow_drop_down</i></a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Courses</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>

      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Mark Kaylor<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      </div>
    </div>
  </nav>
</header>
