
<div class="row">
  <br/>
  <div class="center">
    <h3>My Courses</h3>
  </div>

  <% if @courses.count > 0 %>

  <% @courses.each do |course| %>
      <%= link_to course do %>

      <div class="col s12 m4">
        <div class="card">

          <div class="card-image">
            <%= image_tag course.image %>
          </div>

          <div class="card-content">
            <span class="card-title grey-text text-darken-4 ">
            <%= course.name %>
            </span>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>

  <% else %>

  <div class="center">
    <h5>You don't have any pluckin courses yet!</h5>
    <%= link_to "View all courses!", root_path, class: "btn btn-primary" %>
  </div>

  <% end %>
</div>
