.banner {
  color: black;
  text-align: bottom;
  height: 50vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: bottom;
  border-radius: 6px; margin-top: 5rem;

}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-show {
  color: white;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right {
  padding-top: 2.5rem !important;
}
