

.sidebar-container {
  margin: 20px;
}

.sidebar-link {
  padding-bottom: 10px;
}

.sidebar-link a {
  color: #a09ea2 !important;
}

.sidebar-link :hover {
  text-decoration: underline;
}

.subheader {
  font-weight: bold !important;
  color: #454544 !important;
}

.sidebar {
  color: #454544;
}

.top-content {
  margin-top: 3rem;
}
